*.class

# package file
*.jar
*.war
*.ear

# maven file
target/

# idea file
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file
*.log
*.gz
*.cache
*.diff
*.patch
*.tmp

logback.xml

# system file
.DS_Store
Thumbs.db