<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d4smart.my12306.dao.LineMapper" >
  <resultMap id="BaseResultMap" type="com.d4smart.my12306.pojo.Line" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="section_ids" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="station_names" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="begin_time" jdbcType="TIME" javaType="java.util.Date" />
      <arg column="end_time" jdbcType="TIME" javaType="java.util.Date" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="mileage" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="stay_times" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="spend_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, section_ids, station_names, begin_time, end_time, price, mileage, stay_times,
    spend_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from line
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from line
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.d4smart.my12306.pojo.Line" >
    insert into line (id, name, section_ids,
      station_names, begin_time, end_time, 
      price, mileage, stay_times, 
      spend_time, create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sectionIds,jdbcType=VARCHAR},
      #{stationNames,jdbcType=VARCHAR}, #{beginTime,jdbcType=TIME}, #{endTime,jdbcType=TIME}, 
      #{price,jdbcType=DECIMAL}, #{mileage,jdbcType=INTEGER}, #{stayTimes,jdbcType=VARCHAR}, 
      #{spendTime,jdbcType=INTEGER}, now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.d4smart.my12306.pojo.Line" >
    insert into line
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sectionIds != null" >
        section_ids,
      </if>
      <if test="stationNames != null" >
        station_names,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="mileage != null" >
        mileage,
      </if>
      <if test="stayTimes != null" >
        stay_times,
      </if>
      <if test="spendTime != null" >
        spend_time,
      </if>
      create_time, update_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sectionIds != null" >
        #{sectionIds,jdbcType=VARCHAR}
      </if>
      <if test="stationNames != null" >
        #{stationNames,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIME},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIME},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="mileage != null" >
        #{mileage,jdbcType=INTEGER},
      </if>
      <if test="stayTimes != null" >
        #{stayTimes,jdbcType=VARCHAR},
      </if>
      <if test="spendTime != null" >
        #{spendTime,jdbcType=INTEGER},
      </if>
      now(), now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.d4smart.my12306.pojo.Line" >
    update line
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sectionIds != null" >
        section_ids = #{sectionIds,jdbcType=VARCHAR},
      </if>
      <if test="stationNames != null" >
        station_names = #{stationNames,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIME},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIME},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="mileage != null" >
        mileage = #{mileage,jdbcType=INTEGER},
      </if>
      <if test="stayTimes != null" >
        stay_times = #{stayTimes,jdbcType=VARCHAR},
      </if>
      <if test="spendTime != null" >
        spend_time = #{spendTime,jdbcType=INTEGER},
      </if>
      update_time = now()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.d4smart.my12306.pojo.Line" >
    update line
    set name = #{name,jdbcType=VARCHAR},
      section_ids = #{sectionIds,jdbcType=VARCHAR},
      station_names = #{stationNames,jdbcType=VARCHAR},
      begin_time = #{beginTime,jdbcType=TIME},
      end_time = #{endTime,jdbcType=TIME},
      price = #{price,jdbcType=DECIMAL},
      mileage = #{mileage,jdbcType=INTEGER},
      stay_times = #{stayTimes,jdbcType=VARCHAR},
      spend_time = #{spendTime,jdbcType=INTEGER},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>