<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 控制器bean不需要声明，在类中使用注解的方式实现 ，在配置文件中通过scan的方式获得注解的controller对象-->
    <!-- context标签中如果扫描多个文件夹，可以逗号分隔也可以多次声明 -->
    <context:component-scan base-package="com.d4smart.my12306" annotation-config="true"/>

    <!--<context:annotation-config/>-->
    <aop:aspectj-autoproxy/>

    <!--视图映射的配置 -->
    <bean class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <!--指定处理视图的视图类： JstlView（专门处理jsp+jstl） -->
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <!--指定处理视图的前缀：/（当前应用的根目录）  -->
        <property name="prefix" value="/WEB-INF/views/"/>
        <!--指定处理视图的后缀：.jsp（后缀是jsp的文件）  -->
        <property name="suffix" value=".jsp"/>
    </bean>
</beans>